.toggle{
    display: flex;
    justify-content:space-between;
    border: 4px solid var(--greenCard);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;

}
.toggle>*{
    width: 1.5rem;
    height: 1.5rem;
    color: var(--greenCard);
}
.t-button{
    border-radius: 100%;
    background: var(--greenCard);
    position: absolute;
}
